@import url(https://fonts.googleapis.com/css?family=Roboto:100);

#loading {
    position: relative;
    margin-top: 100px;
    left: 50%;
    display: none;
    width: 50px;
    height: 50px;
    border: 10px solid rgb(234, 133, 133);
    border-radius: 50%;
    border-top-color: black;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}